<a href="{{ .RelPermalink }}">
  <article class="card mb-4">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4 list-item-data--title">
            {{ .Title }}
          </p>
          <p class="subtitle list-item-data--metadata">
            {{- partial "date.html" .Date -}}
            <span class="ml-2">
              {{/* Nested links wont work for some reason */}}
              {{ range .Params.tags }}
                <span class="tag is-black is-light">{{- . -}}</span>
              {{ end }}
            </span>
          </p>
        </div>
      </div>

      <div class="content list-item-data--summary">
        {{ .Summary }}
      </div>
    </div>
  </article>
</a>
