  <article class="card mb-4">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </p>
          <p class="subtitle">
            {{- partial "date.html" .Date -}}
            <span class="ml-2">{{- partial "page-tags.html" . -}}</span>
          </p>
        </div>
      </div>

      <div class="content">
        {{ .Summary }}
      </div>
    </div>
  </article>
