<a href="{{ .RelPermalink }}">
  <article class="card mb-4">
    <div class="card-content">
      <div class="media mb-2">
        <div class="media-content">
          <div class="has-text-grey">{{- partial "date.html" .Date -}}</div>
          <p class="title is-4 list-item-data--title">
            {{ .Title }}
          </p>
          {{ if ne .Params.tags nil }}
            <p class="subtitle list-item-data--metadata">
              <span class="mr-2">
                {{/* Nested links wont work for some reason */}}
                {{ range .Params.tags }}
                  {{ partial "tag" . }}
                {{ end }}
              </span>
            </p>
          {{ end }}
        </div>
      </div>

      <div class="content list-item-data--summary">
        {{ .Summary }}
      </div>
    </div>
  </article>
</a>
