{{ define "main" }}

{{/*
- Example URL: /tags/
*/}}

<main class="container my-6 px-4">
  <div class="mb-6 content">
    {{ .Content }}
  </div>

  <div id="mn-list">
    <input type="search" class="search input mb-5" />

    <ul class="list">
      {{ range $key, $value := .Data.Terms }}
        <li>
          <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
            <h2 class="tag is-black is-large mb-4 list-item-data--tag" title="{{ $.Data.Singular | humanize }}: {{ $key | humanize }}">
              {{ $key | humanize }}
            </h2>
          </a>

          <ul class="mb-6">
            {{ range $value.Pages }}
              <li>
                {{ .Render "list-item-card" }}
              </li>
            {{ end }}
          </ul>
        </li>
      {{ end }}
    </ul>
  </div>
</main>

<script>
  var mnList = new ListJS('mn-list', {
    valueNames: [
      'list-item-data--tag'
    ],
  })
</script>

{{ end }}
