{{ define "main" }}

{{/*
- Example URL: /tags/
*/}}

<main class="container my-6 px-4">
  <div class="mb-6">
    {{ .Content }}
  </div>

  {{ range $key, $value := .Data.Terms }}
    <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
      <h2 class="tag is-black is-large mb-4" title="{{ $.Data.Singular | humanize }}: {{ $key | humanize }}">
        {{ $key | humanize }}
      </h2>
    </a>

    <ul class="mb-6">
      {{ range $value.Pages }}
        <li>
          {{ .Render "list_item_card" }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
</main>

{{ end }}
