{{ define "main" }}

{{/*
- Example URL: /tags/
*/}}

{{ partial "hero" . }}

<main class="container mb-6 px-4">
  <div class="mb-5 content">{{ .Content }}</div>

  <div id="list-search-scope" class="mt-5">
    <div class="mb-5">
      {{ partial "search-form" . }}
    </div>

    <ul class="list">
      {{ range $key, $value := .Data.Terms }}
        <li>
          <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}">
            <h2 class="tag is-black is-large mb-4 list-item-data--tag" title="{{ $.Data.Singular | humanize }}: {{ $key | humanize }}">
              {{ $key | humanize }}
            </h2>
          </a>

          <ul class="mb-6">
            {{ range $value.Pages }}
              <li>
                {{ .Render "list-item-card" }}
              </li>
            {{ end }}
          </ul>
        </li>
      {{ end }}
    </ul>
  </div>
</main>

<script>
  App.initListSearch('list-search-scope', {
    valueNames: [
      'list-item-data--tag'
    ],
  })
</script>

{{ end }}
