{{ define "main" }}

{{/*
- Example URL: /tag/hello
*/}}

{{ partial "hero" . }}

<main class="container my-6 px-4">
  <div id="list-search-scope">
    <div class="mb-5">
      {{ partial "search-form" . }}
    </div>

    <div class="list">
      {{ range .Paginator.Pages.ByPublishDate.Reverse }}
        {{ .Render "list-item-card" }}
      {{ end }}
    </div>
  </div>
</main>

<script>
  App.initListSearch('list-search-scope', {
    valueNames: [
      'list-item-data--title',
      'list-item-data--summary',
      'list-item-data--date',
      'list-item-data--tags',
    ],
  })
</script>

{{ end }}
