<nav class="tabs is-boxed is-fullwidth">
  <div class="container">
    {{ if .Site.Menus.main }}
      <ul>
        {{ range .Site.Menus.main }}
          <li>
            {{/*
            - Always exclude the home page for is-active class
            - apply is-active class if current parmalink contains the menu URL
            */}}
            {{ $link_class := "" }}

            {{ if (or (eq .URL "/") (not (in $.RelPermalink .URL))) }}
              {{ $link_class = "navbar-item" }}
            {{ else }}
              {{ $link_class = "navbar-item is-active" }}
            {{ end }}

            <a href="{{ .URL }}" class="{{ $link_class }}">
              {{ if eq .URL "/" }}
                <span><ion-icon name="home-outline"></ion-icon></span>
              {{ else }}
                {{ .Name }}
              {{ end }}
              </a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</nav>
