<footer class="footer">
  <div class="container">
    <div class="columns">
      <a href="/" class="column">
        &copy;
        {{ with .Site.Copyright | default .Site.Title }}
          {{ . | safeHTML }} {{ now.Format "2006"}}
        {{ end }}
      </a>
      {{ if .Site.Menus.footer }}
      <div class="column">
        {{ range .Site.Menus.footer }}
          <a href="{{ .URL }}" class="button is-text">
            {{ .Name }}
          </a>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</footer>
