<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{.Site.BaseURL}}">
      <img src="https://user-images.githubusercontent.com/7563926/162644222-2c19332c-d8ac-4249-b10a-18e7f50b3c8b.png" alt="">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="appHeaderNavbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="appHeaderNavbarMenu" class="navbar-menu">
    {{ if .Site.Menus.main }}
      <div class="navbar-end">
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}" class="navbar-item {{ cond (eq $.RelPermalink .URL) " is-active" "" }}">
            {{ .Name }}
          </a>
        {{ end }}
      </div>
    {{ end }}
  </div>
</nav>
