{{ define "main" }}

<main class="container my-6 px-4">
  <div class="mb-6">
    {{ .Content }}
  </div>

  <div class="has-text-centered mb-6">
    <img src="{{ .Params.image_a }}">
  </div>

  <div class="is-flex is-justify-content-center">
    <div class="is-flex-grow-1">
      <img src="{{ .Params.image_b }}">
    </div>
    <div class="is-flex-grow-1">
      <img src="{{ .Params.image_c }}">
    </div>
  </div>

  {{/*
    Netlify CMS
    - https://www.netlifycms.org/docs/add-to-your-site/#add-the-netlify-identity-widget
  */}}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</main>

{{ end }}
